/* Menu: Goes in tandem with the Header */
.menu {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 0;
  height: 100vh;
  max-width: 35rem;
  width: 100%;
  background: #0a0a0a80;
  border-right: 1px solid #2a2a2a;
  backdrop-filter: blur(.5rem);
  transition: border-color .25s, transform .25s;
  pointer-events: all;
  z-index: 254;
}
.menu:hover {
  border-color: #133789;
}
.menu:hover .menu-container .menu-layout .side-links, .menu:hover .menu-container .menu-layout .content {
  outline-color: #133789;
}
.menu .menu-container {
  margin: 1rem;
  height: calc(100% - 5.5rem);
  max-width: 33rem;
  width: 100%;
}
.menu .menu-container .menu-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  height: 100%;
  width: 100%;
  min-width: 0;
}
.menu .menu-container .menu-layout .side-links {
  flex-shrink: 1;
  padding: 0 .5rem;
  height: 100%;
  max-width: 4.5rem;
  min-width: 4rem;
  width: 100%;
  outline: 1px solid #2a2a2a;
  border-radius: .5rem;
  transition: outline-color .25s;
  overflow-x: auto;
  overflow-y: auto;
  scrollbar-gutter: stable;
}
.menu .menu-container .menu-layout .side-links::-webkit-scrollbar {
  position: absolute;
  height: .5rem;
  width: .5rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.menu .menu-container .menu-layout .side-links::-webkit-scrollbar-track {
  background: #2a2a2a;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.menu .menu-container .menu-layout .side-links::-webkit-scrollbar-thumb {
  background: #133789;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.menu .menu-container .menu-layout .side-links::-webkit-scrollbar-thumb:hover {
  background: #1e4bb5;
}
.menu .menu-container .menu-layout .side-links .side-links-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: .5rem 0;
  height: auto;
  width: max-content;
}
.menu .menu-container .menu-layout .side-links .side-links-container div {
  flex-shrink: 0;
  aspect-ratio: 1;
  height: 4rem;
  width: 4rem;
  background: blue;
}
.menu .menu-container .menu-layout .content {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  outline: 1px solid #2a2a2a;
  border-radius: .5rem;
  transition: outline-color .25s;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: clip;
}
.menu .menu-container .menu-layout .content::-webkit-scrollbar {
  position: absolute;
  height: .5rem;
  width: .5rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow-y: clip;
}
.menu .menu-container .menu-layout .content::-webkit-scrollbar-track {
  background: #2a2a2a;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.menu .menu-container .menu-layout .content::-webkit-scrollbar-thumb {
  width: 1rem;
  background: #133789;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.menu .menu-container .menu-layout .content::-webkit-scrollbar-thumb:hover {
  background: #1e4bb5;
}
/* YouTube Container Specifics */
.menu .menu-container .menu-layout .content .youtube-container {
  gap: 1rem;
  padding: 1rem;
  width: calc(100% - 2rem);
}
.menu .menu-container .menu-layout .content .youtube-video {
  max-width: 100%;
}
@media screen and (max-width: 40rem) {
  .menu {
    max-width: 40rem;
    width: 100%;
    border: none;
  }
  .menu:hover {
    border-color: #2a2a2a;
  }
  .menu .menu-container {
    margin: 1rem 0;
    height: calc(100% - 5.5rem);
    max-width: 40rem;
    width: 100%;
  }
  .menu .menu-container .menu-layout {
    flex-direction: column;
  }
  .menu:hover .menu-container .menu-layout .side-links, .menu:hover .menu-container .menu-layout .content {
    outline-color: #2a2a2a;
  }
  .menu .menu-container .menu-layout .side-links::-webkit-scrollbar, .menu .menu-container .menu-layout .content::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
  .menu .menu-container .menu-layout .side-links {
    flex-shrink: 0;
    margin: 0 1rem;
    padding: 0;
    height: 5rem;
    max-width: none;
    width: calc(100% - 2rem);
    overflow-y: clip;
  }
  .menu .menu-container .menu-layout .side-links::-webkit-scrollbar {
    border-top-right-radius: 0;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .menu .menu-container .menu-layout .side-links::-webkit-scrollbar-track {
    border-top-right-radius: 0;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .menu .menu-container .menu-layout .side-links::-webkit-scrollbar-thumb {
    border-top-right-radius: 0;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
  .menu .menu-container .menu-layout .side-links .side-links-container {
    padding: 0;
    margin: .5rem;
    flex-direction: row;
    justify-content: flex-start;
  }
  .menu .menu-container .menu-layout .content {
    margin: 0 1rem;
    width: calc(100% - 2rem);
  }
}