.announcementBanner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
  width: 100%;
  background: #0b1858;
  z-index: 256;
}
.announcementBanner .bannerImage {
  margin: .25rem;
  aspect-ratio: 1;
  width: 1.5rem;
  background: url("/favicon.ico");
  background-size: contain;
}
.announcementBanner .bannerText {
  margin: 0 auto;
  padding: 0 1rem;
} 
.announcementBanner .bannerClose {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  float: right;
  margin: .25rem;
  aspect-ratio: 1;
  width: 1.5rem;
  background: transparent;
  border-radius: 1rem;
  transition: background-color .25s;
  cursor: pointer;
}
.announcementBanner .bannerClose:hover {
  background: #a0a0a080;
  transition: none;
}
.announcementBanner .bannerClose:active {
  background: #70707080;
}
.announcementBanner .bannerClose:focus-visible {
  outline: 2px solid #fff;
}
.announcementBanner .bannerClose div {
  position: absolute;
  height: 4px;
  width: 100%;
  background: #bbb;
  transition: scale .25s;
}
.announcementBanner .bannerClose div:nth-child(1) {
  transform: rotate(45deg);
}
.announcementBanner .bannerClose div:nth-child(2) {
  transform: rotate(-45deg);
}
.announcementBanner .bannerClose:hover div {
  background: #fff;
  scale: .85;
}
.announcementBanner .bannerClose:active div {
  background: #ddd;
  scale: .7;
  transition: none;
}
@media screen and (max-width: 19rem) {
  .announcementBanner .bannerText * {
    word-break: break-all;
  }
}