/* Access Page */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  width: 100%;
  animation: intro-ease 3s ease 1;
  z-index: 2;
}

@keyframes intro-ease {
  0% {
    background: #000;
  }
  50% {
    background: #000;
  }
  100% {
    background: #00000000;
  }
}

.access {
  position: relative;
  margin: 0 2rem;
  margin-top: auto;
  padding: 0 1rem;
  min-height: 10rem;
  height: 100%;
  max-width: 45rem;
  width: 90%;
  background: #10101080;
  outline: 2px solid #242424;
  border-radius: 1rem;
  backdrop-filter: blur(1rem);
  overflow-y: auto;
  overflow-x: hidden;
}

.access .title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  margin-bottom: 1rem;
}

.access .title .logo {
  margin-top: 3rem;
  aspect-ratio: 1;
  max-width: 6rem;
  width: 100%;
  background: url("/assets/icons/profile.webp");
  background-size: cover;
  outline: 2px solid #242424;
  border-radius: 5rem;
  filter: drop-shadow(0 .25rem .25rem #000);
}

.access .title .name {
  text-align: center;
}

.access .title .name h4 {
  letter-spacing: -1px;
  word-wrap: break-word;
}

.access .title .name p {
  word-wrap: break-word;
}

.access .providers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: .25rem;
  width: 100%;
}

.access .providers form:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  margin: 3rem 0;
  gap: .5rem;
  width: 100%;
  max-width: none;
}

.access .providers form {
  width: 100%;
  max-width: 10rem;
}

/* Specific Footer for Access Page */
.accessFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  height: 3rem;
  max-width: 40rem;
  width: 70%;
  border-top: 2px solid #242424;
}

.accessFooter p, .accessFooter a {
  font-size: 1rem;
}

/* Media Queries */
@media (prefers-reduced-motion: reduce) {
  .access .title .logo, .access .title .name h4, .access .title .name p {
    animation: none;
  }
}

@media screen and (max-width: 34rem) {
  .container {
    background: #00000080;
    backdrop-filter: blur(.25rem);
    transition: background-color .25s ease;
  }
  .access {
    margin: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    outline: none;
    border-radius: 0;
    backdrop-filter: none;
  }
  .access .title {
    margin: 2rem 1rem;
  }
  .accessFooter {
    margin-top: auto;
  }
}

@media screen and (max-width: 19rem) {
  .access .title .name h4, .access .title .name p {
    word-break: break-all;
  }
  .accessFooter {
    height: auto;
  }
}