/*
accent
#0099cd blue
#ec008c pink
*/
.unset:root, .dark:root {
  --primary-background: #000f14; 
  --secondary-background: #00161f;
  --tertiary-background: #001d28;
  
  --primary-header: #d9eaf0;
  --alternative-header: #b3d1da;
  --paragraph-text: #a8c2ca;
  
  --link-default: #f388bd;
  --link-hover: #feb2d8;
  --link-active: #fed6e9;
  --link-focus-color-1: #fed6e9;
  --link-focus-color-2: #f388bd;
  --link-selected-default: #280114;
  --link-selected-background: #ffc8e1cc;
  --link-selected-hover: #fed6e9;
  --link-selected-hover-shadow: #280114;
  --link-selected-active: #280114;
  --link-selected-active-shadow: #ffe9f4;
  --link-shadow-width: .0625rem;
  --link-shadow-width-negative: -.0625rem;

  --highlighted-text-color: #30001d;
  --highlighted-text-background: #f970c2cc;

  --code-box-text: #ddd;
  --code-box-background: #022935;

  --keyboard-input-text: #addae8;
  --keyboard-input-background: #0a3c4e;
  --keyboard-input-shadow: #01556e;

  /* src/components/global/windowsButton */
  --windows-default: #0099cd;
  --windows-hover: #54caf2;
  --windows-active: #65b8d1;
  --windows-focused: #54caf2;
  --windows-focused-outline: #0099cd;

  --windows-background-default: #060638;
  --windows-background-hover: #15159180;
  --windows-background-active: #2727bd80;
  --windows-background-focused: #15159180;
}

.light:root {
  --primary-background: #f1fafd; 
  --secondary-background: #d9f6fe;
  --tertiary-background: #c5effc;
  
  --primary-header: #0b4f69;
  --alternative-header: #094057;
  --paragraph-text: #354045;
  
  --link-default: #1510b3;
  --link-hover: #2e0d67;
  --link-active: #110913;
  --link-focus-color-1: #342eec;
  --link-focus-color-2: #161469;
  --link-selected-default: #100e4e;
  --link-selected-background: #5c57f1cc;
  --link-selected-hover: #9793fa;
  --link-selected-hover-shadow: #100e4e;
  --link-selected-active: #100e4e;
  --link-selected-active-shadow: #b0ace6;

  --highlighted-text-color: #feb6e1;
  --highlighted-text-background: #360121cc;

  --code-box-text: #010b0e;
  --code-box-background: #dbe2e2;

  --keyboard-input-text: #002b38;
  --keyboard-input-background: #27a5d2;
  --keyboard-input-shadow: #002b38;

  /* src/components/global/windowsButton */
  --windows-default: #0099cd; 
  --windows-hover: #54caf2;
  --windows-active: #65b8d1;
  --windows-focused: #54caf2;
  --windows-focused-outline: #0099cd;

  --windows-background-default: #060638;
  --windows-background-hover: #15159180;
  --windows-background-active: #2727bd80;
  --windows-background-focused: #15159180;
}

/* Color Styling for User Color Preference */
html, html body, html.dark, html.dark body, html.unset, html.unset body { /* unset and no class is here to avoid flashbang */
  background: var(--primary-background);
  color-scheme: dark;

  *::selection {  
    background: var(--highlighted-text-background);
    color: var(--highlighted-text-color);
  }
  
  h1 { color: var(--primary-header); }
  h2, h3, h4, h5, h6 { color: var(--alternative-header); }
  p { color: var(--paragraph-text); }

  a { color: var(--link-default); }
  a:hover { color: var(--link-hover); }
  a:active { color: var(--link-active); }
  a:focus-visible { animation-name: defaultPulseDark; }
  a::selection {
    background: var(--link-selected-background);
    text-decoration-color: var(--link-selected-default);
    color: var(--link-selected-default);
  }
  a:hover::selection {
    text-shadow: /* ..."-webkit-text-stroke" is not affected by the selection pseudo-element :( " */
      var(--link-shadow-width) var(--link-shadow-width) var(--link-selected-hover-shadow),
      var(--link-shadow-width-negative) var(--link-shadow-width-negative) var(--link-selected-hover-shadow),
      var(--link-shadow-width) var(--link-shadow-width-negative) var(--link-selected-hover-shadow),
      var(--link-shadow-width-negative) var(--link-shadow-width) var(--link-selected-hover-shadow),
      0 var(--link-shadow-width) var(--link-selected-hover-shadow),
      0 var(--link-shadow-width-negative) var(--link-selected-hover-shadow),
      var(--link-shadow-width) 0 var(--link-selected-hover-shadow),
      var(--link-shadow-width-negative) 0 var(--link-selected-hover-shadow);
    color: var(--link-selected-hover);
  }
  a:active::selection {
    text-shadow:
      var(--link-shadow-width) var(--link-shadow-width) var(--link-selected-active-shadow),
      var(--link-shadow-width-negative) var(--link-shadow-width-negative) var(--link-selected-active-shadow),
      var(--link-shadow-width) var(--link-shadow-width-negative) var(--link-selected-active-shadow),
      var(--link-shadow-width-negative) var(--link-shadow-width) var(--link-selected-active-shadow),
      0 var(--link-shadow-width) var(--link-selected-active-shadow),
      0 var(--link-shadow-width-negative) var(--link-selected-active-shadow),
      var(--link-shadow-width) 0 var(--link-selected-active-shadow),
      var(--link-shadow-width-negative) 0 var(--link-selected-active-shadow);
    color: var(--link-selected-active);
  }
  a:focus-visible::selection { animation-name: highlightedPulseDark; }

  code {
    background: var(--code-box-background);
    color: var(--code-box-text);
  }

  kbd {
    background: var(--keyboard-input-background);
    box-shadow: 0 .2rem 0 var(--keyboard-input-shadow);
    color: var(--keyboard-input-text);
  }

}

html.light, html.light body {
  background: var(--primary-background);
  color-scheme: light;

  *::selection {
    background: var(--highlighted-text-background);
    color: var(--highlighted-text-color);
  }
  
  h1 { color: var(--primary-header); }
  h2, h3, h4, h5, h6 { color: var(--alternative-header); }
  p { color: var(--paragraph-text); }

  a { color: var(--link-default); }
  a:hover { color: var(--link-hover); }
  a:active { color: var(--link-active); }
  a:focus-visible { animation-name: defaultPulseLight; }
  a::selection {
    background: var(--link-selected-background);
    text-decoration-color: var(--link-selected-default);
    color: var(--link-selected-default);
  }
  a:hover::selection {
    text-shadow: /* ..."-webkit-text-stroke" is not affected by the selection pseudo-element :( " */
      var(--link-shadow-width) var(--link-shadow-width) var(--link-selected-hover-shadow),
      var(--link-shadow-width-negative) var(--link-shadow-width-negative) var(--link-selected-hover-shadow),
      var(--link-shadow-width) var(--link-shadow-width-negative) var(--link-selected-hover-shadow),
      var(--link-shadow-width-negative) var(--link-shadow-width) var(--link-selected-hover-shadow),
      0 var(--link-shadow-width) var(--link-selected-hover-shadow),
      0 var(--link-shadow-width-negative) var(--link-selected-hover-shadow),
      var(--link-shadow-width) 0 var(--link-selected-hover-shadow),
      var(--link-shadow-width-negative) 0 var(--link-selected-hover-shadow);
    color: var(--link-selected-hover);
  }
  a:active::selection {
    text-shadow:
      var(--link-shadow-width) var(--link-shadow-width) var(--link-selected-active-shadow),
      var(--link-shadow-width-negative) var(--link-shadow-width-negative) var(--link-selected-active-shadow),
      var(--link-shadow-width) var(--link-shadow-width-negative) var(--link-selected-active-shadow),
      var(--link-shadow-width-negative) var(--link-shadow-width) var(--link-selected-active-shadow),
      0 var(--link-shadow-width) var(--link-selected-active-shadow),
      0 var(--link-shadow-width-negative) var(--link-selected-active-shadow),
      var(--link-shadow-width) 0 var(--link-selected-active-shadow),
      var(--link-shadow-width-negative) 0 var(--link-selected-active-shadow);
    color: var(--link-selected-active);
  }
  a:focus-visible::selection { animation-name: highlightedPulseLight; }

  code {
    background: var(--code-box-background);
    color: var(--code-box-text);
  }

  kbd {
    background: var(--keyboard-input-background);
    box-shadow: 0 .2rem 0 var(--keyboard-input-shadow);
    color: var(--keyboard-input-text);
  }

}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  touch-action: manipulation;
}

html, body { min-width: 256px; }

h1 {
  font-size: 3.75rem;
  font-size: clamp(2.25rem, 6.5vw + 1rem, 3.75rem);
}

h2 {
  font-size: 2.5rem;
  font-size: clamp(1.75rem, 5vw + .5rem, 2.5rem);
}

h3 {
  font-size: 2rem;
  font-size: clamp(1.5rem, 4vw + .5rem, 2rem);
}

h4 {
  font-size: 1.75rem;
  font-size: clamp(1.33rem, 3.5vw + .45rem, 1.75rem);
}

h5 {
  font-size: 1.5rem;
  font-size: clamp(1.25rem, 3vw + .5rem, 1.5rem);
}

h6 {
  font-size: 1.25rem;
  font-size: clamp(1.125rem, 2.75vw + .45rem, 1.25rem);
}

p, a { font-size: 1rem; }

a {
  outline: .125rem solid transparent;
  outline-offset: .125rem;
  border-radius: .125rem;
  text-decoration-thickness: .0625rem;
  text-decoration-style: double;
  transition: color .25s ease;
}

a:hover, a:active { /* ::selection pseudo-element does not allow for text color transitions :( */
  /* It sounds like light! */
  /* And what is light composed of...? */
  /* That's right, it's just a bunch of WAVES! */
  text-decoration-style: wavy;
  transition: none;
}
a:focus-visible {
  animation-duration: 1.25s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

code {
  padding: .25rem;
  border-radius: .25rem;
  font-size: .9rem;
}

kbd {
  padding: .075rem .5rem;
  border-radius: .25rem;
  font-size: .9rem;
}

@keyframes defaultPulseDark {
  0%, 100% {
    outline-color: var(--link-focus-color-1);
    color: var(--link-focus-color-1);
  }
  50% {
    outline-color: var(--link-focus-color-2);
    color: var(--link-focus-color-2);
  }
}

@keyframes highlightedPulseDark {
  0%, 100% {
    outline-color: var(--link-selected-focus-color-1);
    color: var(--link-selected-focus-color-1);
  }
  50% {
    outline-color: var(--link-selected-focus-color-2);
    color: var(--link-selected-focus-color-2);
  }
}

@keyframes defaultPulseLight {
  0%, 100% {
    outline-color: var(--link-focus-color-1);
    color: var(--link-focus-color-1);
  }
  50% {
    outline-color: var(--link-focus-color-2);
    color: var(--link-focus-color-2);
  }
}

@keyframes highlightedPulseLight {
  0%, 100% {
    outline-color: var(--link-selected-focus-color-1);
    color: var(--link-selected-focus-color-1);
  }
  50% {
    outline-color: var(--link-selected-focus-color-2);
    color: var(--link-selected-focus-color-2);
  }
}