.intro1 {
  background: var(--secondary-background-dark);
  padding: 1rem;
  width: auto;
  margin-bottom: 1rem;
}

.intro2 {
  background: var(--tertiary-background-dark);
  padding: 1rem;
  width: auto;
}