/* Core Header Components */
.navigation {
  position: fixed;
  height: 3.5rem;
  width: 100%;
  background: #00000080;
  border-bottom: 1px solid #133789;
  border-image: linear-gradient(to right, #133789, #830791) 100;
  backdrop-filter: blur(.25rem);
  z-index: 255;
}
.navigation .container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}
/* Menu Toggle Button */
.navigation .container .menu-toggle-container {
  height: 3.5rem;
  width: 3.5rem;
}
.navigation .container .menu-toggle-container .menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .25rem;
  padding: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  background: #00000000;
  transition: background-color .25s ease;
  cursor: pointer;
}
.navigation .container .menu-toggle-container .menu-toggle:hover {
  background: #133789aa;
  transition: none;
}
.navigation .container .menu-toggle-container .menu-toggle:active {
  background: #13378960;
}
.navigation .container .menu-toggle-container .menu-toggle div {
  height: .1rem;
  width: 1.5rem;
  background: #cdcdcd;
  border-radius: .5rem;
}
.navigation .container .menu-toggle-container .menu-toggle div:last-child {
  width: 1rem;
}
/* Header Brand Logo */
.navigation .container .brand-container {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin: 0 .5rem;
  height: 100%;
  width: auto;
}
.navigation .container .brand-container .brand-logo {
  aspect-ratio: 1;
  margin: auto;
  width: 2.25rem;
  background-color: #133789;
  background-image: url("/assets/app-icons/icon-256x256.png");
  background-size: contain;
  border-radius: 1.5rem;
}
.navigation .container .brand-container h6 {
  background-image: linear-gradient(90deg, #2a88ff, #ea22ff);
  background-clip: text;
  color: transparent;
}
/* Sign In Button */
/* Make a simple side bar similar to Youtube. make sure it has icons and even a short little recent videos tab where users can quickly see the recent videos. also make a mobile specific bar at the bottom for mobile users */