.youtube-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
}
.youtube-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 30rem;
}
.youtube-thumbnail-container {
  aspect-ratio: 16/9;
  width: 100%;
  background: red;
  overflow: hidden;
}
.youtube-thumbnail {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.youtube-caption {
  font-size: 1rem;
}